/*vamos a empezar a usar CSS*/
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    justify-content: center;
    justify-items: center;
    
}
h1 {
    color: orange; font: impact;
}
ul {color: rgb(255, 225, 0);}
a:hover {
    background-color: rgb(174, 43, 226);
}

.EXPERIENCIA {
     font-style: italic;}

/* formatos de fuentes y tamoños

html {
    font-size: 18px;
}
div {
    font-size: 14px;
}

/* formas de usar los colores

named value 
div {
    color: brown;
}
/* RGB hex value 
h1 {
    color: #7462e0;
}
/* RGB function 
h2 {
    color: rgb(105, 6, 19);
}*/